.table {
  background-color: rgb(245, 245, 245);
  height: 100px;
}

h4 {
  font-weight: bold;
}

.newList {
  display: flex;
  align-items: center;
  background-color: rgb(237, 237, 237);
  border-left: 10px solid rgb(47, 110, 145);
  li {
    list-style: none;
    margin-right: 10px;
    padding: 5px;
    transition: all 0.2s;
    font-size: 15px;
    cursor: pointer;
    &:hover {
      background-color: white;
    }
  }
}
.title {
  border: 1px solid rgb(237, 237, 237);
  padding: 20px;
  
}

.post {
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
  .new_table {
    display: flex;
    justify-content: center;
    align-items: space-between;
    img {
      width: 150px;
      height: 121px;
      margin-right: 10px;
    }
  }
}
