.post_detail,
.comment {
  border: 1px solid rgb(224, 224, 224);
  padding: 20px;
}
.post_meta {
  font-size: 12px;
  color: #c6c6c6;
  line-height: 1.4;
  margin-bottom: 30px;
}
.comment {
  margin: 20px 0;
}

.comment-content {
  color: rgb(74, 82, 93);
  font-size: 0.9rem;
}

.cmt-detail {
  border: 1px solid rgb(224, 224, 224);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #ededed;
}
.username {
  color: #03506f;
  text-transform: capitalize;
  margin-right: 7px;
  font-weight: bold;
  font-size: 16px;
}

.timestamps {
  color: rgb(122, 122, 122);
  text-transform: capitalize;
  margin-right: 10px;
  padding: 0 5px;
  font-size: 12px;
}
