<nav class="navbar navbar-expand-lg">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main_nav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
      <a class="nav-item" (click)="navigateToHome()">
        <i class="fas fa-home"></i>
      </a>

      <ul class="navbar-nav" *ngFor="let item of $category; first as isFirst">
        <li class="nav-item dropdown" *ngIf="isFirst; else newTemplate">
          <a class="nav-link" href="#" data-toggle="dropdown">
            {{ item.title }}
          </a>
          <ul class="dropdown-menu animate slideIn">
            <li *ngFor="let submenu of item.children">
              <a
                class="dropdown-item font-weight-bold"
                (click)="navigate(submenu._id, 'sub')"
                >{{ submenu.title }}</a
              >
              <div
                class="dropdown-item-wrapper"
                *ngFor="let course of submenu.courses"
              >
                <a
                  class="dropdown-item course-hover"
                  (click)="navigate(course._id, 'course')"
                  >{{ course.title }}</a
                >
              </div>
            </li>
          </ul>
        </li>

        <ng-template #newTemplate>
          <li class="nav-item dropdown" *ngFor="let submenu of item.children">
            <a
              class="nav-link"
              href="#"
              data-toggle="dropdown"
              (click)="navigate(submenu._id, 'sub')"
            >
              {{ submenu.title }}
            </a>
            <ul class="dropdown-menu animate slideIn">
              <li *ngFor="let course of submenu.courses">
                <a
                  class="dropdown-item"
                  (click)="navigate(course._id, 'course')"
                  >{{ course.title }}</a
                >
              </li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
