.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.container{
  max-width: 1270px;
}
.navbar {
  padding: 0;
}
.navbar-bg {
  background-color: rgb(47, 110, 145);
}
.container > div:nth-child(2) {
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo > img {
  max-width: 160px;
  margin-top: -10px;
}
.form-control {
  width: 180px;
  border-radius: 0;
}
.btn {
  background-color: white;
  border-radius: 0;
}
.search-form > span {
  margin-left: 10px;
}
span > i {
  color: white;
  padding: 10px;
}
span {
  transition: all 0.5s;
}
span:nth-child(2):hover {
  background-color: #3b5997;
}
span:nth-child(3):hover {
  background-color: red;
}
span:nth-child(4):hover {
  background-color: #b3d4fc;
}
span:nth-child(5):hover {
  background-color: #b3d4fc;
}
