.post {
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
  .table {
    display: flex;
    justify-content: center;
    align-items: space-between;
    img {
      width: 150px;
      height: 121px;
    }
  }
}
