<div>
  <div class="widget-head">
    <h3 class="widget-title">
      <span> Lập trình </span>
    </h3>
    <div class="header-sidebar"></div>
  </div>
  <div class="widget-body">
    <div class="owl-carousel owl-theme">
      <div class="item" *ngFor="let currentItem of course.posts">
        <app-post-detail [item]="currentItem"></app-post-detail>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let item of allPosts">
  <div class="widget-head" *ngIf="item.posts.length > 0">
    <h3 class="widget-title">
      <span> {{ item.title }}</span>
    </h3>
    <div class="header-sidebar"></div>
  </div>
  
  <div class="widget-body">
    <div class="owl-carousel owl-theme">
      <div class="item" *ngFor="let currentItem of item.posts">
        <div class="card">
          <img
            class="card-img-top"
            [src]="currentItem.imageURL"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text">
              {{ currentItem.title }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<ng-template #loadingTemplate> Loading... </ng-template>
