<div>
  <div class="widget-head">
    <h3 class="widget-title">
      <span> Coupon giảm giá </span>
    </h3>
    <div class="header-sidebar"></div>
  </div>
  <div class="widget-body">
    <div class="owl-carousel owl-theme">
      <div class="item ">
        <app-post-detail></app-post-detail>
      </div>
      <div class="item ">
        <app-post-detail></app-post-detail>
      </div>
      <div class="item ">
        <app-post-detail></app-post-detail>
      </div>
    </div>
  </div>
</div>
