<!-- <div>
  <div class="widget-head">
    <h3 class="widget-title">
      <span> Coupon giảm giá </span>
    </h3>
    <div class="header-sidebar"></div>
  </div>
  <div class="widget-body">
    <div class="owl-carousel owl-theme">
      <div class="item" *ngFor="let currentItem of data.posts">
        <app-post-detail [item]="currentItem"></app-post-detail>
      </div>
    </div>
  </div>
</div> -->

<div>
  <div class="widget-head">
    <h3 class="widget-title">
      <span> Lập trình </span>
    </h3>
    <div class="header-sidebar"></div>
  </div>
  <div class="widget-body">
    <div class="owl-carousel owl-theme">
      <div class="item" *ngFor="let currentItem of course.posts">
        <app-post-detail [item]="currentItem"></app-post-detail>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let item of allPosts">
  <div class="widget-head" *ngIf="item.posts.length > 0">
    <h3 class="widget-title">
      <span> {{ item.title }}</span>
    </h3>
    <div class="header-sidebar"></div>
  </div>
  <div class="widget-body">
    <div class="owl-carousel owl-theme">
      <div class="item" *ngFor="let currentItem of item.posts">
        <app-post-detail [item]="currentItem"></app-post-detail>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate> Loading... </ng-template>

<!-- <div>
  <div class="widget-head">
    <h3 class="widget-title">
      <span>Lập trình</span>
    </h3>
    <div class="header-sidebar"></div>
  </div>
  <div class="widget-body">
    <div class="widget-wrapper">
      <div class="left border-customize" *ngFor="let item of course.posts">
        <img class="left-img" [src]="item.imageURL" alt="" />
        <p style="font-weight: bolder">{{ item.title }}</p>
      </div>
      <div class="right border-customize">
        <div class="card-content border-customize">
          <div class="image">
            <img [src]="item.imageURL" alt="" />
          </div>
          <div class="content">
            <p>{{ item.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
