<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <p class="title">Liên hệ</p>
      <ul>
        <li><a class="text-decoration-none" href="#">Giới thiệu</a></li>
        <li><a class="text-decoration-none" href="#">Chính sách</a></li>
        <li><a class="text-decoration-none" href="#">Điều khoản</a></li>
        <li><a class="text-decoration-none" href="#">Liên hệ</a></li>
        <li><a class="text-decoration-none" href="#">Guest post</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <p class="title">Mã giảm giá</p>
      <ul>
        <li><a class="text-decoration-none" href="#">TinoHost</a></li>
        <li><a class="text-decoration-none" href="#">Azdigi</a></li>
        <li><a class="text-decoration-none" href="#">Vultr</a></li>
        <li><a class="text-decoration-none" href="#">Hawkhost</a></li>
        <li><a class="text-decoration-none" href="#">Stablehost</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <p class="title">Khoá học</p>
      <ul>
        <li>
          <a href="#" class="text-decoration-none"><span>JavaScript</span></a>
        </li>
        <li>
          <a href="#" class="text-decoration-none"><span>Front-end</span></a>
        </li>
        <li>
          <a href="#" class="text-decoration-none"><span>NodeJS</span></a>
        </li>
        <li>
          <a href="#" class="text-decoration-none"><span>ReactJS</span></a>
        </li>
        <li>
          <a class="text-decoration-none" href="#"><span>Fullstack</span></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3">
      <p class="title">Giới thiệu</p>
      <ul>
        <li>Admin <span>Cường</span>, quản lý chính của website.</li>
        <li>Email: thehalfheart@gmail.com</li>
        <li>Phone/Zalo: 0979306603</li>
        <li>Skype: thehalfheart</li>
      </ul>
    </div>
  </div>
</div>
