.widget-head {
  background-color: #2f6e91;
  padding: 10px 15px;
  border-bottom: 1px solid #eaeaea;
}
.widget-title {
  color: white;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: bold;
}

.widget-body {
  padding: 5px 0;
  display: flex;
}
.border-customize {
  border: 1px solid #eaeaea;
}
.card {
  padding: 10px;
  img {
    height: 200px;
    margin-right: 10px;
  }
  p {
    height: 70px;
    font-weight: bold;
    margin-top: 15px;
  }
}

.widget-footer {
  border: 1px solid #eaeaea;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #2f6e91;
    color: white;
  }
}

.app-post-detail {
  width: 100%;
}
