<div *ngIf="course; else loadingTemplate">
  <!-- <p>Home > {{ course.subCategory.title }} > {{ course.title }}</p> -->

  <div class="title">
    <h2>{{ course.title }}</h2>
    <p>Đăng bởi: Administrator | Vào ngày: 19-12-2016</p>
    <p>{{ course.description }}</p>
  </div>

  <div class="post" *ngFor="let item of course.posts">
    <h4>{{ item.title }}</h4>
    <div class="table">
      <div>
        <img [src]="item.imageURL" [alt]="item.title" />
      </div>
      <div>
        <p>{{ item.description }}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <h1>Loading</h1>
</ng-template>
