.post {
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease-out;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .table {
    display: flex;
    margin-top: 10px;
    img {
      width: 180px;
      height: 140px;
    }
    p {
      margin-left: 15px;
    }
  }
}

.title {
  border: 1px solid rgb(237, 237, 237);
  padding: 20px;
  margin-bottom: 15px;
}
