<div
  *ngIf="data && data.category == '600d71151bf06860543ca7fc'; else newTemplate"
>
  <h4>{{ data.title }}</h4>
  <p>Đăng bởi Administrator | Vào ngày 04-08-2019</p>
  <p>{{ data.description }}</p>
  <div *ngFor="let item of data.courses">
    <h4>{{ item.title }}</h4>
    <div class="table"></div>
  </div>
</div>

<ng-template #newTemplate>
  <div class="title" *ngIf="data">
    <h1>{{ data.title }}</h1>
    <p>{{ data.description }}</p>
  </div>

  <div class="widget-head">
    <h3 class="widget-title">
      <span>Bài viết</span>
    </h3>
    <div class="header-sidebar"></div>
  </div>

  <div class="post" *ngFor="let item of posts">
    <div *ngIf="posts.length > 0; else noContentTemplate">
      <div (click)="navigate(item._id, 'post', item.courseModelID._id, 'sub')">
        <h4>{{ item.title }}</h4>
        <div class="new_table">
          <div>
            <img [src]="item.imageURL" [alt]="item.title" />
          </div>
          <div class="w-100">
            <p>{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div>
  <button class="btn btn-primary p-2 mr-2" (click)="pagination(1)">1</button>
  <button class="btn btn-primary p-2 mr-2" (click)="pagination(2)">2</button>
  <button class="btn btn-primary p-2 mr-2" (click)="pagination(3)">3</button>
  <button class="btn btn-primary p-2 mr-2" (click)="pagination(4)">4</button>
</div>
