<div *ngIf="data; else loadingTemplate">
  <div
    *ngIf="
      data && data.category == '600d71151bf06860543ca7fc';
      else newTemplate
    "
  >
    <app-special [data]="data"></app-special>
  </div>

  <ng-template #newTemplate>
    <div class="title" *ngIf="data">
      <h1>{{ data.title }}</h1>
      <p [innerHTML]="data.description"></p>
    </div>
    <div *ngIf="posts.length > 0; else noContentTemplate">
      <div class="widget-head">
        <h3 class="widget-title">
          <span>Bài viết</span>
        </h3>
        <div class="header-sidebar"></div>
      </div>
      <div>
        <div class="post" *ngFor="let item of posts">
          <div>
            <div (click)="navigate(item._id, item.courseModelID)">
              <h4>{{ item.title }}</h4>
              <div class="new_table">
                <div>
                  <img [src]="item.imageURL" [alt]="item.title" />
                </div>
                <div class="w-100">
                  <p [innerHTML]="item.description | summary"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-pagination
          (newItemEvent)="paginationEvent($event)"
        ></app-pagination>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #noContentTemplate>
  <app-no-content></app-no-content>
</ng-template>
<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>
