<div class="widget-head">
  <h3 class="widget-title">
    <span> Review khóa học </span>
  </h3>
  <div class="header-sidebar"></div>
</div>

<div class="mom-posts-widget">
  <div class="mpw-post">
    <div class="review-img">
      <img
        src="https://freetuts.net/upload/learn_post/_thumbs/Images/2020/08/20/134/khoa-hoc-photoshop-online-chuyen-nghiep.jpg"
        class="mr-2"
        style="widows: 90px; height: 60px"
      />
    </div>
    <div class="mpw-title">
      <a href="">
        Lộ trình học Photoshop cho người mới bắt đầu - Có video học miễn phí
      </a>
    </div>
  </div>
  <div class="mpw-post">
    <div class="review-img">
      <img
        src="https://freetuts.net/upload/product_series/_thumbs/Images/2020/08/19/1005/top-khoa-hoc-lam-phim-hoat-hinh-325px.jpg"
        class="mr-2"
        style="widows: 90px; height: 60px"
      />
    </div>
    <div class="mpw-title">
      <a href="">
        Học làm phim hoạt hình dễ dàng với 5 khóa học online cực rẻ
      </a>
    </div>
  </div>
  <div class="mpw-post">
    <div class="review-img">
      <img
        src="https://freetuts.net/upload/learn_post/_thumbs/Images/2020/08/18/132/hoc-lap-trinh-dieu-khien-robots.jpg"
        class="mr-2"
        style="widows: 90px; height: 60px"
      />
    </div>
    <div class="mpw-title">
      <a href="">
        Top 4 bộ video học lập trình điều khiển Robot dễ nhất 2021
      </a>
    </div>
  </div>
  <div class="mpw-post">
    <div class="review-img">
      <img
        src="https://freetuts.net/upload/learn_post/_thumbs/Images/2020/08/14/129/khoa-hoc-nhiep-anh-online-mini.jpg"
        class="mr-2"
        style="widows: 90px; height: 60px"
      />
    </div>
    <div class="mpw-title">
      <a href="">
        Học nhanh kỹ thuật nhiếp ảnh với 5 khóa học online giá cực rẻ
      </a>
    </div>
  </div>
  <div class="mpw-post">
    <div class="review-img">
      <img
        src="https://freetuts.net/upload/learn_post/_thumbs/Images/2020/04/23/127/tieng-nhat.jpg"
        class="mr-2"
        style="widows: 90px; height: 60px"
      />
    </div>
    <div class="mpw-title">
      <a href="">
        Các khóa học tiếng Nhật online hay nhất 2021, giảm giá 50%
      </a>
    </div>
  </div>
</div>

<div class="widget-head">
  <h3 class="widget-title">
    <span> Bài tập </span>
  </h3>
  <div class="header-sidebar"></div>
</div>

<div class="mom-posts-widget">
  <div class="mpw-post" *ngFor="let item of listExercise">
    <div class="mpw-title">
      <a (click)="navigate(item._id)">
        {{ item.title }}
      </a>
    </div>
  </div>
</div>
