.wrapper {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  p {
    width: 320px;
    margin: 0;
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
  }
}
.subCourseGroup {
  margin-bottom: 20px;
}
.table {
  background-color: rgb(245, 245, 245);
  // height: 100px;
}

h1,h2 {
  font-weight: bold;
}

.title {
  border: 1px solid rgb(237, 237, 237);
  padding: 20px;
}

.post {
  border: 1px solid rgb(224, 224, 224);
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease-out;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .new_table {
    display: flex;
    justify-content: center;
    align-items: space-between;
    img {
      width: 150px;
      height: 121px;
      margin-right: 10px;
    }
  }
}

.widget-head {
  margin-top: 20px;
}
