<nav class="navbar navbar-expand-lg">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main_nav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
      <a class="nav-item" [routerLink]="['/']">
        <i class="fas fa-home"></i>
      </a>

      <ul class="navbar-nav" *ngFor="let item of $category; first as isFirst">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" data-toggle="dropdown">
            {{ item.title }}
          </a>
          <ul class="dropdown-menu animate slideIn">
            <li *ngFor="let submenu of item.children">
              <a
                *ngIf="isFirst"
                class="dropdown-item font-weight-bold"
                (click)="navigateToSubmenu(submenu._id)"
                >{{ submenu.title }}</a
              >
              <div
                class="dropdown-item-wrapper"
                *ngFor="let course of submenu.courses"
              >
                <a
                  class="dropdown-item course-hover"
                  (click)="navigateToCourse(course._id)"
                  >{{ course.title }}</a
                >
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
