<div class="widget-head">
  <h3 class="widget-title">
    <span> Review khóa học </span>
  </h3>
  <div class="header-sidebar"></div>
</div>

<div class="mom-posts-widget">
  <div class="mpw-post">
    <div class="review-img">
      <img
        src="https://freetuts.net/upload/learn_post/_thumbs/Images/2020/08/20/134/khoa-hoc-photoshop-online-chuyen-nghiep.jpg"
        class="mr-2"
        style="widows: 90px; height: 60px"
      />
    </div>

    <div class="mpw-title">
      <a href="">
        Lộ trình học Photoshop cho người mới bắt đầu - Có video học miễn phí
      </a>
    </div>
  </div>
  <div class="mpw-post">
    <div class="review-img">
      <img
        src="https://freetuts.net/upload/learn_post/_thumbs/Images/2020/08/20/134/khoa-hoc-photoshop-online-chuyen-nghiep.jpg"
        class="mr-2"
        style="widows: 90px; height: 60px"
      />
    </div>

    <div class="mpw-title">
      <a href="">
        Lộ trình học Photoshop cho người mới bắt đầu - Có video học miễn phí
      </a>
    </div>
  </div>
</div>
