<div class="container">
  <p class="inner text-center">
    <a class="text-decoration-none" href="#">Cho thuê phòng trọ</a> |
    <a class="text-decoration-none" href="#">cho thuê nhà</a> |
    <a class="text-decoration-none" href="#">XSMN</a><br /><br />
    <span> @2020 - Freetuts.net. All Right Reserved </span>
    <br />
    Theme <strong>GoodNews</strong>, nền tảng <strong>Codeigniter</strong>, VPS
    mua tại <a class="text-decoration-none" href="#">TinoHost</a><br /><br />
    <a href="#"><img src="/assets/copyright.png" /></a>
  </p>
</div>
