<div class="scroll-to-top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
  <div>
    <button
      type="button"
      class="btn active"
      data-toggle="button"
      aria-pressed="true"
    >
      <i class="fas fa-exclamation-circle" style="color: red"></i>
      <p>BÁO LỖI</p>
    </button>
  </div>
  <div>
    <button
      type="button"
      class="btn active"
      data-toggle="button"
      aria-pressed="true"
      (click)="scrollToTop()"
    >
      <i class="fas fa-chevron-up"></i>
      <p>TOP</p>
    </button>
  </div>
</div>
